body{
    background-color: #d5e1ef;;
}

#logo{
    width: 150px;
    position: relative;
    top: 10px;
}

.container{
    width: 300px;
    height: 500px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px
}

.qr{
    width: 270px;
    height: 270px;
    background-color: #2b7dfa;
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: 15px
    
}

img{
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    width: 70%;
    
}

h1{
    margin-top: 50px;
    font-size: 1rem;
    text-align: center;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Rubik', sans-serif;

}

p{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7
}

header{
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}